/* Root variables for easier color and style customization */
:root {
  --container-bg-color: rgb(239, 236, 232);
  --black-color: rgb(0, 0, 0);
  --ingredient-input-focus: rgb(185, 58, 58);
  --white-color: rgb(255, 255, 255);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Ensures border and padding do not affect element width/height */
}

/* 1rem = 16px */
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('images/burger-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  font-size: clamp(1rem, 0.925rem + 0.375vw, 1.375rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container styles */
.burger-builder {
  background-color: var(--container-bg-color);
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  border-radius: 1.25rem;
  width: 65%;
  max-width: 37.5rem;
}

/* Header styles */
.burger-builder__header {
  text-align: center;
  margin-bottom: 1.563rem;
}

/* Title styling */
.burger-builder__title {
  text-transform: uppercase;
  margin-bottom: 0.313rem;
}

/* Description styling */
.burger-builder__description {
  font-size: 1.1875rem;
  font-size: clamp(1.1875rem, 1.125rem + 0.3125vw, 1.5rem);
}